.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #212121;
  color: #000;
}

.auth-container .title {
  font-weight: bold;
  font-size: 2.4rem;
  
}
.sub-title{
  color: rgba(0, 0, 0, 0.9);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin: 10px;
  background-color: white;
  border-radius: 0.375rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 1rem;
  padding: 0.8rem 1rem;
  margin: 10px 0;
  border-radius: 0.375rem;
  color: #000;
  border: 1px solid rgba(0,0,0,0.2);
}

.submit-btn {
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  border-radius: 0.1rem;
  border: none;
  font-size: 1.15rem;
  font-weight: bold;
  background-color: #febd69;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover{
  background-color: #ff9801;
}

p{
  color: grey;
}