nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-direction: row;
    border-bottom: 1px solid grey;
}

nav h3{
    font-size: 1.3rem;
}
.nav-right{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
}

.dashboard-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    width: 90vw;
}

.username{
    font-weight: 300;
    font-size: 1rem;
}

.main-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logout-btn{
    font-size: 1rem;
    padding: 10px;
    margin: 20px;
    margin-bottom: 40px;
    background-color: rgb(248, 74, 74);
    color: white;
    border: none;
    border-radius:5px ;
    cursor: pointer;
}