body{
    margin: 0;
    padding: 0;
}
.pyqs-container{
    display: flex;
    flex-direction:column;
    width: 100vw;
    margin: 2rem;
}

.first-year{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}

.pyqs-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    padding: 10px;
    background-color: aqua;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}
.pyqs-div:hover{
    box-shadow: 0 0 10px 1px rgb(0, 0, 0,0.1);
}
.loading-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.lds-ellipsis {

position: relative;
width: 80px;
height: 80px;
}
.lds-ellipsis div {
position: absolute;
top: 33px;
width: 13px;
height: 13px;
border-radius: 50%;
background: #000;
animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
left: 8px;
animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
left: 8px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
left: 32px;
animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
left: 56px;
animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
0% {
    transform: scale(0);
}
100% {
    transform: scale(1);
}
}
@keyframes lds-ellipsis3 {
0% {
    transform: scale(1);
}
100% {
    transform: scale(0);
}
}
@keyframes lds-ellipsis2 {
0% {
    transform: translate(0, 0);
}
100% {
    transform: translate(24px, 0);
}
} 