@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body{
    /* background-image: radial-gradient(circle at 137% 20%,#15bcdf 15%,transparent 35%),radial-gradient(circle at 105% 50%,#00ffb2 0,transparent 30%),radial-gradient(circle at 5% -20%,#00ffb2 0,transparent 20%); */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.main{
    height: 100vh;
    width: calc(100vw - 8px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.title{
    font-size: 3rem;
}
.input-div{
    display: flex;
    justify-content: center;
    align-self: center;
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 40vw;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }



.main button{
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.main button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.main button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.main button:after {
  background-color: #FFFFFF;
}

.main button span {
  z-index: 1;
  position: relative;
}

.total-div{
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin:0  3rem 0 2rem ;
}
.filter-dropdown{
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.filter-dropdown > select{
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
}
select:hover{
  box-shadow: 0px 0px 20px 1px #ffbb763f;
}
select:focus-visible{
  outline: none;
}

.filter-btn{
  opacity: 0.8;
  cursor: pointer;
}
.filter-btn:hover{
  opacity: 1;
  font-weight: 400;
}

.new-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2vh 6vw;
  gap: 30px;
  position: relative;
  font-family: sans-serif;
}
.no-results{
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  height: 200px;
  width: 100%;
}

.new-div .notes-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid black;
  width: 11.875em;
  height: 13.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255);
  /* border: 1px solid rgba(255, 255, 255, 0.222); */
  /* -webkit-backdrop-filter: blur(20px); */
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}


.new-div .notes-div .title {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.new-div .notes-div .year{
  font-size: 0.8rem;
  font-weight: 100;
}

.new-div .notes-div:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.toggle-btn{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  top: 30px;
  right: 10px;
  border-radius: 50%;
  border: none;
  background: transparent;
  cursor: pointer;
}
img{
  height: 30px;
}


/* These are style for loading animation */
/* .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
} */
  

::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
}


/* DARK  MODE */
.dark-mode {
  background-color: black;
  color: white;
}
.dark-mode input{
  color: white;
}
.dark-mode .main button{
  background-color: black;
  color: white;
}
.dark-mode .main button::before{
  background-color: #ffbb763f;
}


.dark-mode .lds-ellipsis div{
  background: white;
}
.dark-mode .new-div .notes-div {
  background-color: rgba(255, 255, 255, 0.075);
  /* border: 1px solid rgba(0, 0, 0, 0.222); */ 
}
.dark-mode .filter-dropdown > select{
  background-color: black ;
  color: white;
  border: 1px solid white;
}

@media (max-width:552px){
  
  .main h1{
    font-size: 4rem;
  }
  .form__group{
    width: 45vw;
  }
  .form__field{
    font-size: 1.3rem;
    padding: 0;
  }
  .toggle-btn{
    top: 40px;
    right: 10px;
    height: 2rem;
    width: 2rem;
  }
  img{
    height: 30px;
  }
  .new-div{
    justify-content: space-around;
    
  }
  .new-div .notes-div{
    width: 10em;
    height: 11em;
  }
  .new-div .notes-div .title{
    font-size: 1.3rem;
  }
}
@media (max-width:415px){
  .main h1{
    font-size: 5rem;
  }
  .toggle-btn{
    top: 40px;
    right: 20px;
  }
  img{
    height: 40px;
  }
  .form__group{
    width: 50vw;
  }
  .form__field{
    font-size: 2.3rem;
    padding: 0;
  }
}